.container {
    display: grid;
    grid-template-areas:
        "logo"
        "image"
        "main"
        "main"
        "main";

    .logo {
        grid-area: "logo";
    }

    #img-des {
        grid-area: "image";
    }

    .main {
        grid-area: "main";
    }
}