
$font-stack: 'Josefin Sans', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 600;


$font-size-xxs: 0.5rem;
$font-size-xs: 0.65rem;
$font-size-sm: 0.75rem;
$font-size-m: 0.85rem;
$font-size-lg: 1rem;
$font-size-xl: 1.2rem;
$font-size-big: 1.5rem;
$font-size-bigger: 2rem;

$font-size-xs-v:1.2vw;
$font-size-s-v: 1.5vw;
$font-size-m-v: 2.5vw;
$font-size-l-v: 3vw;
$font-size-xl-v: 3.8vw;

$align-center: center;